<!DOCTYPE html>
<html lang="en">

<head>
    <title>Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!--===============================================================================================-->

    <style>
        .input100 {
            text-align: center;
        }
    </style>
</head>


<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>



                    <% if(!user.avatar) { %>
                        <img id="output" src="/images/img-user-res.png" alt="IMG">
                        <% }else { %>
                            <img id="output" src=<%=user.avatar %> alt="IMG">
                            <% } %>

                            

                </div>

                <form action="./update" class="login100-form validate-form" enctype="multipart/form-data" method="post">
                    <span class="login100-form-title">
                        Update User
                    </span>

                    <%if (mess) { %>
                        <h6 style="color: red;">
                            <%= mess %>
                        </h6>
                        <% } %>



                            <input accept="image/*" type="file" id="avatar" name="avatar"
                                onchange="loadFile(event)" /><br /><br />

                            <h4 style="color: black; text-align: center;"> OR </h4>


                            <div class="wrap-input100">
                                <input class="input100" type="text" name="url" placeholder="Url image">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    URL
                                </span>
                            </div>


                            <div class="wrap-input100 validate-input" data-validate="Name is required">
                                <input class="input100" type="text" name="name" value="<%= user.name %>">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    Name
                                </span>
                            </div>

                            <div class="wrap-input100">
                                <input class="input100" type="text" name="phone" value="<%= user.phone %>">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    Phone
                                </span>
                            </div>


                            <div class="wrap-input100">
                                <h6 style="text-align: center;" class="input100" type="text" name="email">
                                    <%= user.dob %>
                                </h6>
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    <b> Dob </b>
                                </span>
                            </div>

                            <div class="wrap-input100">
                                <label for="birthday">Birthday:</label>
                                <input type="date" min="1997-01-01" max="2030-12-31" id="dob" name="dob">
                                <span class="focus-input100"></span>
                                </span>
                            </div>

                            <div class="container-login100-form-btn">
                                <button type="submit" class="login100-form-btn">
                                    Submit
                                </button>
                            </div>

                </form>
            </div>
        </div>
    </div>




    <!--===============================================================================================-->
    <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/bootstrap/js/popper.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="/js/main.js"></script>




    <script>
        var loadFile = function (event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function () {
                URL.revokeObjectURL(output.src) // free memory
            }
        };
    </script>


</body>

</html>